<div class="row welcome-screen">
  <h1>Welcome!</h1>
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">Sign in and try it</div>
      <div class="panel-body">
        <form name="loginForm" class="form" role="form" novalidate ng-submit="loginForm.$valid && chartsCtrl.getProjects()">
          <div class="form-group">
            <input type="url" class="form-control" id="site-url" placeholder="Site Url" ng-model="user.siteUrl" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="api-key" placeholder="API Key" ng-model="user.apiKey" required>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
              <button type="submit" class="btn btn-primary pull-right">Sign in</button>
            </div>
          </div>
          <div>Form is {{loginForm.$valid}}</div>
        </form>
      </div>
    </div>
  </div>
</div>