<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <span class="badge pull-right">{{ chartsCtrl.projectsCount }}</span> My projects
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <ul class="list-group">
        <a href="#" class="list-group-item"
          ng-repeat="project in chartsCtrl.projects"
          ng-click="chartsCtrl.setSelectedProject(project)"
          ng-class="{ 'list-group-item-info' : chartsCtrl.isSelectedProject(project) }">
          {{ project.name }}
        </a>
      </ul>
    </div>
  </div>
</div>
