<div class="panel panel-default" ng-show="currentProject">
  <div class="panel-heading">General Info</div>
  <div class="panel-body">
    <dl>
      <dt>Name</dt>
      <dd>{{ currentProject.name }}</dd>
      <dt ng-show="currentProject.description">Description</dt>
      <dd ng-show="currentProject.description">{{ currentProject.description }}</dd>
      <dt>Created</dt>
      <dd>{{ currentProject.created_on | date:'MMM dd, yyyy' }}</dd>
    </dl>
  </div>
</div>
<div class="panel panel-default" ng-show="currentProject.issuesbyStatuses.length">
  <div class="panel-heading">Overall Issues</div>
  <div class="panel-body">
    <div id="issues-overall"></div>
  </div>
</div>
<div class="panel panel-default" ng-show="currentProject.issuesPerMonth.length">
  <div class="panel-heading">Issues Per Month</div>
  <div class="panel-body">
    <div id="issues-per-month"></div>
  </div>
</div>
<div class="panel panel-default" ng-show="currentProject.issuesToday.length">
  <div class="panel-heading">Today Issues</div>
  <div class="panel-body">
    <div id="issues-today"></div>
  </div>
</div>
