@import "variables";
@icon-font-path: "../../bower_components/bootstrap/fonts/";
@navbar-border-radius: 0;

@import "bootstrap";

.ng-invalid.ng-dirty {
  border-color: #fa787e;
}

.ng-valid.ng-dirty {
  border-color: #46be56;
}
